html {
	background-color: black;
	background-image: url('../image/leaf-bg.jpg');
}
body {
	font-family: 'Lora', serif;
}
.header {
	border: solid 15px tan;
	border-radius: 25px;
/*	border-bottom: solid 1px black;
*//*	background-image: url('../image/leaf-bg.jpg');
*/	background-color: tan;
/*	background-image: url('../image/leaf-bg.jpg');*/
	margin-bottom: 1em;

}
h1 {
	text-align: center;
	color: white;
	font-size: 40px;
	font-weight: bold;
/*	background-color: whitesmoke;
*//*	opacity: 0.3;
*/	width: 60%;
	font-weight: bolder;
	border-radius: 25px;
}
.h1 {
	display: flex;
	justify-content: center;
}
span.char1 {
	color: rgb(53, 109, 177);
}
span.char2 {
	color: rgb(226, 90, 54)
}
span.char3 {
	color: rgb(211, 18, 121);
}
span.char4 {
	color: rgb(68, 165, 50);
}
#content {
	background-color: rgb(103, 115, 11);
	border: solid 15px rgb(162, 165, 20);
	border-radius: 25px;
/*	border-top: solid 1px black;
*/	display: flex;
	justify-content: space-around;
	flex-direction: row;
	min-height: 32em;
}
/*img {
	background-position: center;
	margin: 0 20% 0 20%;
	border-opacity: 0.5;
}*/
/*#content-image {
	width: 40%;
	align-self: center;
}*/
#list {
	width: 40%;
	color: rgb(103, 115, 11);
	font-weight: bold;
	display: flex;
	align-items: row;
	align-self: center;
	flex-wrap: wrap;
	background-color: whitesmoke;
	border-radius: 25px;
	width: 200px;
/*	display: none;
*/}
#items {
	width: 40%;
	margin: 5% 0 0 5%;
	display: flex;
	flex-direction: column;
	color: white;
}
#items li {
	list-style: none;
	margin-top: 1em;
}
#items ul {
	display: flex;
	flex-wrap: wrap;
}